{% extends "layout.html" %} {% block content %}
<main role="main">
  <div class="row">
    <br />
    <h2>Movie Recommender System</h2>
  </div>
  <br />
</main>
<div class="form1">
  <div class="container">
    <div class="row">
      <form action="{{ url_for('predict') }}" method="POST">
        <h4>Enter Your Movie Here</h4>
        <!-- <input type="text" name="comment"/> -->
        <br />
        <!--textarea name="comment" rows="2" cols="20"></textarea> -->
        <div class="form-group">
          <input
            type="text"
            name="catch"
            class="form-control form-control-lg"
            id="search-input"
            placeholder="Movie name here"
          />
          <br />
          <br />
          <!-- SPEECH RECOGNITION -->
          <div id="search-speech" style="display:none">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/7/70/Circle-icons-mic.svg"
              height="50"
              width="50"
              onclick="speech.start()"
              id="search-on"
            />
          </div>
        </div>

        <button
          type="submit"
          id="search-go"
          value="predict"
          class="btn btn-warning"
        >
          Predict
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock%}
